<div class="container">
  <div class="jumbotron">
    <h1>Coffee Express</h1>
    <hr>
    <a href="/"><button class="btn btn-danger btn-sm"><span class=""></span>Home</button></a>
    <a><button id="allRating" class="btn btn-danger btn-sm"><span class=""></span> View All Rating</button></a>
    {{#unless isLoggedIn}}
      <a href="/login"><button class="btn btn-danger btn-sm"><span class="fa fa-plus"></span> Review Coffee</button></a>
      <a href="/signup"><button id="allRating" class="btn btn-danger btn-sm"><span class=""></span>SignUp</button></a>
      <a href="/login"><button class="btn btn-danger btn-sm"><span class="fa fa-plus"></span>Login</button></a>
    {{/unless}}
    <a href="/servey"><button class="btn btn-danger btn-sm"><span class="fa fa-plus"></span>Search Location</button></a>
  </div>

  {{#each reviews}}
  <div class='card mb-3' style='max-width: 540px;float: left;'>
    <div class='row no-gutters'>
      <div class='col-md-2'>
        <img id='coffeeImg' src='/assets/img/coffee-mug.png'>
      </div>
      <div class='col-md-10'>
        <div class='card-body'>
          <h4 class='card-title'>
            {{this.categoryName}}
          </h4>
          <h5>
            {{this.coffeeName}}
          </h5>
          <p class='card-text'>Rating: <span>
              {{this.rating}}
            </span>
          </p>
          <p class='card-text'>
            {{this.coffeeReview}}
          </p>
          <p class='card-text'><small class='text-muted'>Reviwed by: <span>
                {{this.firstName}}
              </span></small></p>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
  {{!-- 
</div> --}}